{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
  }
}
